* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    height: 100vh;
    display: grid;
    color: white;
    padding: 20px;
    border: 5px solid lightpink;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
    
}

.container div {
    border: 5px solid lightgreen;
    padding: 20px;
}

/* boxes */

.one {
    background-color: palevioletred;
}

.two {
    background-color: cornflowerblue;
    grid-column: 2 / 4;
}

.three {
    background-color: palevioletred;

}

.four {
    background-color: cornflowerblue;
    grid-column: 2 / 4;

}

.five {
    background-color: palevioletred;
}

.six {
    background-color: cornflowerblue;
    grid-column: 2 / 4;

}

.seven {
    background-color: lightgoldenrodyellow;
    grid-column: 1 / 4;

}

.eight {
    background-color: black;
}

.nine {
    background-color: black;
}